@import 'ext/default-highlight';

// Full-page-width blocks
div.highlighter-rouge, .post-container table {
	width: 100vw;
	position: relative;
	right: 150px;
	margin: 40px 0;
	padding: 30px 150px;
	background-color: #f4f4f4;
	box-shadow: 0 0 5px lightgrey;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f4f4f4;
}
